/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.footer {
  border-top: 4px solid #1ED76080;
  --webkit-box-shadow: 0px 1px 1px #1ED76080;
  --mox-box-shadow: 0px 1px 1px #1ED76080;
}

.linear {
  background: linear-gradient(49deg, rgba(131, 233, 149, 1) 16%, rgba(0, 0, 0, 1) 42%, rgba(176, 180, 192, 1) 75%, rgba(0, 10, 107, 0.804359243697479) 100%);
}

.parent-div {
  width: 100%;
  height: 20px;
  background-color: #272A2F;
  border-radius: 9px;
  overflow: hidden; /* Ensure the child div doesn't overflow */
}

.child-div {
  width: 25%;
  height: 20px;
  background-image: linear-gradient(to right, #2366CF, #4E9AE1,#D391F5, #A173FF, #836AFF, #6864F9);
  border-radius: 9px;
  animation: moveRight 3s ease; 
}

@keyframes moveRight {
  0% {
      transform: translateX(0);
  }
  70% {
      transform: translateX(15%)
  }
}